.FPdiv1{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.FPdiv2{
  
    align-items: center;
    justify-content: center;
    flex-direction: 'column';
    width: 400px;
    height: 300px;
    border: none;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 30px;
    margin: 30px;
    padding-top: 50px;
}
.FPh1{
    margin-bottom: 100px;

}
.FPdiv3{
    align-items: center;
    justify-content: left;
}
.FPinput{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 200px;
    margin-top: 10px ;
}
.FPbutton{
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
    border: none;
    background-color: aquamarine;

}