.homediv1{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-left: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.homediv2{
    
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: 20px;
    gap: 30px;
}
.verifybutton{
    padding: 20px;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: aquamarine;
    border-color: blueviolet;
    cursor: pointer;
    
}
.verifydiv{
    align-items: end;
    justify-content: end;
    display: flex;
}
.verifybutton2{
    padding: 10px;
    
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: aquamarine;
    border-color: blueviolet;
    cursor: pointer;
    
}