.expencediv2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    height: 50px;
    padding: 20px;
}

.ExpenceInput{
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.expencebutton{
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
    border: none;
    background-color: aquamarine;
}

.expenceli{
    gap: 50px;
    justify-content: left;
    align-items: center;
    display: flex;
    padding: 20px;
    margin: 5px;
    border-radius:10px;
    border: none;
    background-color: aquamarine;
    list-style: none;
    
}

.expencediv1.dark-theme {
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Light text color */
  }
  
  .expencediv2.dark-theme {
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Light text color */
  }
  .downloadButton{
    width: 200px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    padding: 10px;
  }
  .premiumButton{
    width: 100px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
  }
  
  .primiumdiv{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }